/*fonts*/

@font-face {
    font-family: 'spaceregular';
    src: url('../assets/fonts/font-regular/spacegrotesk-variablefont_wght-webfont.woff2') format('woff2'),
         url('../assets/fonts/font-regular/spacegrotesk-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'spacebold';
    src: url('../assets/fonts/spaceBold/SpaceGrotesk-Bold.woff2') format('woff2'),
        url('../assets/fonts/spaceBold/SpaceGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #151515;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'spacebold';
    margin: 0 0;
    input:focus {
        outline: none;
    }
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-top {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.container-top-left {
    width: 70%;
    & h4 {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;        
        letter-spacing: -0.444444px;
                
        color: #FFFFFF;
    }

    & h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -2.5px;
                
        color: #FFFFFF;
    }

    & p {
        font-style: normal;
        font-family: 'spaceregular';
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        width: 50%;
        color: #D9D9D9;
    }

}

#btncontact {
    border: none;
    background-color: #151515;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-top: 35px;
    letter-spacing: 2.28571px;
            
    color: #FFFFFF;
    &:hover {
        cursor: pointer;
        color: #4EE1A0;
    }
}

.container-top-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    
}

#pdp {
    /*CHANGER LES TAILLES EN %*/
    width: 95%;
    height: 100%;
    z-index: -2;
    margin-top: 25px;
}

.contactme {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

#name {
    text-decoration: #4EE1A0 underline;
}

.underline-green {
    background-color: #4EE1A0;
    margin-top: 10px;
    height: 5px;
    width: 100%;
    &:hover {
        cursor: pointer;
    }
}

.underline-green-2 {
    background-color: #4EE1A0;
    margin-top: 10px;
    height: 5px;
    width: 30%;
    &:hover {
        cursor: pointer;
    }   
}

.medias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin-top: 20px;
    margin-left: 20px;

    & svg {
        & path {
            &:hover {
                fill: #4EE1A0;
            }
        }
        &:hover {
            cursor: pointer;

        }
    }

}

.container-mid {
    margin-top: 50px;
    width: 85%;

    & .row {
        width: 100%;
        height: 1px;
        background-color:  #FFFFFF;
    }

    & .container-mid-top {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 40px;
        & h1 {
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            /* identical to box height, or 117% */
            
            letter-spacing: -1.5px;
            
            
            color: #FFFFFF;
        }
        & p {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            
            color: #D9D9D9;
            
        }
    }

    & .container-mid-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 25px;
        & h1 {
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            /* identical to box height, or 117% */
            
            letter-spacing: -1.5px;
            
            
            color: #FFFFFF;
        }
        & p {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
        
            color: #D9D9D9;
            
        }
    }
}

.projects {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & .projects-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    & .projects-mid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 130px;
    }

    & .projects-mid-top {
        display: flex;
        justify-content: space-between;
        width: 100%;

        & .un {
            width: 45%;
            & #img-un {
                width: 110%;
                height: 72%;
                z-index: -1;
                &:hover {
                    cursor: pointer;
                }
            }
            & .un-bottom {
                display: flex;
                flex-direction: column;
                align-items: start;
                & #un-title {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    
                    color: #FFFFFF;
                }
                & .stack-un {
                    display: flex;
                    width: 40%;
                    justify-content: space-around;
                    & p {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 28px;
                        
                        color: #D9D9D9;
                    }
                }
            }
        }

        
        & .deux {
            width: 45%;
            & #img-deux {
                width: 110%;
                height: 72%;
                z-index: -1;
                &:hover {
                    cursor: pointer;
                }
            }
            & .deux-bottom {
                display: flex;
                flex-direction: column;
                align-items: start;
                & #deux-title {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    
                    color: #FFFFFF;
                }
                & .stack-deux {
                    display: flex;
                    width: 50%;
                    justify-content: space-around;
                    & p {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 28px;
                        
                        color: #D9D9D9;
                    }
                }
            }
        }
    }

    & .projects-mid-mid {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }
    & .projects-mid-bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }
}

#projects-title {
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    
    letter-spacing: -2.5px;
    
    
    color: #FFFFFF;
    
}

footer {
    background-color: #242424;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .footer-top {
        display: flex;
        justify-content: space-around;
        width: 85%;
        & h1 {
            font-style: normal;
            font-weight: 700;
            font-size: 88px;
            line-height: 88px;
            
            letter-spacing: -2.5px;
                        
            color: #FFFFFF;
        }
        & p {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            font-family: 'spaceregular';
            color: #D9D9D9;
            
        }

        & .footer-top-left {
            width: 40%;
        }

        & .footer-top-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-top: 60px;
            & #nameInput {
                background-color: #242424;
                border: none;
                margin-bottom: 30px;
                height: 43px;
                margin-bottom: 20px;
                font-family: 'spaceregular';
                color: white;
                font-size: 16px;
                padding-left: 20px;
                border-bottom: 1px solid #D9D9D9;

            }

            & .email {
                background-color: #242424;
                border: none;
                margin-bottom: 30px;
                height: 43px;
                margin-bottom: 20px;
                font-family: 'spaceregular';
                color: white;
                font-size: 16px;
                padding-left: 20px;
                border-bottom: 1px solid #D9D9D9;

            }

            & #message {
                height: 100px;
                background-color: #242424;
                border: none;
                margin-bottom: 30px;
                font-family: 'spaceregular';
                color: white;
                font-size: 16px;
                padding-left: 20px;
                border-bottom: 1px solid #D9D9D9;

            }

            .btnSend {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                
            }

            & #sendMessage {
                border: none;
                background-color: #242424;
                font-style: normal;
                color: white;
                font-weight: 700;
                font-size: 16px;
                line-height: 26px;
                margin-top: 35px;
                letter-spacing: 2.28571px;
                &:hover {
                    cursor: pointer;
                    color: #4EE1A0;
                }
            }
        }
    }
}

.footer-bottom {
    width: 85%;
    margin-top: 80px;
    & .row-2 {
        width: 100%;
        height: 1px;
        background-color:  #FFFFFF;
        margin-bottom: 30px;
    }
    & .nav-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        & #name-2 {
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;        
            letter-spacing: -0.444444px;
                    
            color: #FFFFFF;
        }

        & .medias-2 {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 10%;
            margin-top: 20px;
            margin-left: 20px;
        
            & svg {
                & path {
                    &:hover {
                        fill: #4EE1A0;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        
        }
    }
}

/*CLASS FOR JS EFFECTS*/

.over {
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.btnsEffect1 {
    display: none;
    position: relative;
    bottom: 270px;
    z-index: 2;
    & button {

        & a {
            &:hover {
                color: #4EE1A0;
            }
            text-decoration: none;
            color: #FFFFFF
           
        }
        background-color: #000000;
        border: none;
        border-bottom: 2px solid #4EE1A0;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 2.28571px;        
        margin-bottom: 15px;
        color: #FFFFFF
    }
}


.btnsEffect2 {
    display: none;
    position: relative;
    bottom: 270px;
    z-index: 2;
    & button {
        
        & a {
            &:hover {
                color: #4EE1A0;
            }
            text-decoration: none;
            color: #FFFFFF

        }
        background-color: #000000;
        border: none;
        border-bottom: 2px solid #4EE1A0;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 2.28571px;        
        margin-bottom: 15px;
        color: #FFFFFF

    }
}

.btnsDisplayOn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.errorEmail {
    background-color: #242424;
    border: none;
    margin-bottom: 30px;
    border-bottom: 1px solid #FF6F5B;
    height: 43px;
    margin-bottom: 20px;
    font-family: 'spaceregular';
    color: white;
    font-size: 16px;
    padding-left: 20px;
}

.errorMessageEmail {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0;    
    letter-spacing: -0.166667px;
    display: none;
    color: #FF6F5B;
}

.succes {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & h1 {
        font-weight: 700;
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -2.5px;
                
        color: #FFFFFF;
    }
}


/*RESPONSIVE*/

